@import url(../components/style/coloSchema.css);

.App{
    display: block;
   background-color: var(--colorBackgroundPage);
}
.App-header{
    width: auto;
    height: auto;
}
.layout_main{
    display: flex;
}
.App-footer{
  min-height: 220px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.278);
  text-align: center;
  margin: 0;
}