@import url(./coloSchema.css);

@media (max-width: 560px) {
    .filterOptions{
        position: absolute;
        visibility: hidden;
        
    }
    .mobiler_Menu{
        cursor: pointer;
        position: absolute;
        width: 38px;
        height: 38px;
        background-color: #ffdc5d;
        border-radius: 8px;
        margin-left: 3%;
        visibility: visible !important;
        padding: 3px;
        
    }
    #menu__toggle {
        opacity: 0;

      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: -10% !important;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: -90% !important;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 40% !important;
        visibility: visible;

      }
      .menu__btn {
        
        position: relative;
        z-index: 99 !important;
        width: 28px;
        height: 28px;
        cursor: pointer;
 
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        margin: 0 1px 0 1px;
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
    
        background-color: #535353;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -15px;
      }
      .menu__btn > span::after {
        content: '';
        top: 10px;
      }
      .span__menu{
        width: 90% !important;
        margin: 0 !important;
      }
      .menu__box {
        display: block;
        position: relative;
        visibility: hidden;
        text-align: center;
        max-width: 300px;
        min-width: 280px;
        height: 100%;
        margin-left: 6%;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 99;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }

    .selection{
        text-align: center;
        margin: 20px 0 !important;
        width: 250px;
        height: 30px;
        font-size: 1em !important;
        background-color: rgba(95, 158, 160, 0) !important;
        border: none;
      
    }
    .filter_list{
        display: flex !important;
        margin: 4% 8px !important;
        justify-content: end !important;
        height: 100% !important;
        
    }
    
    .filter_input{
        margin-top: 8px !important;
        width: 50% !important;
        height: 28px !important;
        border:none;
        border-radius: 4px !important;
        box-shadow: 0 1px 20px #afafaff1;
    } 
    .filter_input::placeholder{
        font-size: 14px !important;
        padding-left: 1%;
    }
    
    .filter_button{
        height: 100% !important;
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        margin: 0 ;
        border: none;
        
    }
    .img_button__buscar{
        position: relative;
        max-width: 30px !important;
        margin: 3px !important;
    }
    .filter_button:hover{
        zoom: 1.02;
    }
    
  
}




.mobiler_Menu{
    position:absolute;
    visibility: collapse;
}
.layout_main{
    display: block;
}

.layout_main_content{
    display: block;
}


.filterOptions{
    background-color: rgba(255, 255, 255, 0.901);
    display: flex;
    justify-content: end;
    margin: 2em 3% 1em 3%;
    padding: 1%;
    justify-content: space-around;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 0 var(--colorShadowFilter);
    border-left: 1px solid  var(--colorShadowFilter) ;
    border-right: 1px solid  var(--colorShadowFilter) ;
    
}


.selection{
    color: var(  --colorTextFilterSelects);
    text-align: center;
    margin: 0 auto;
    max-width: 250px;
    min-width: 200px;
    height: 36px;
    font-size: 0.8em;
    border-radius: 2px;
    background-color: var(--colorBackgroundFilte);
    border: none;
  
}
.selection_placeholder{
    visibility: hidden;
}
.selection_item{
    color: #000000dd;

}
.filter_list{
    display: flex;
    margin: 3% auto;
    justify-content: center;
    height: 50px;
    
}
.filter_input{
    margin-top: 18px;
    width: 40%;
    height: 45px;
    border:none;
    border-radius: 8px;
    box-shadow: 0 1px 20px #afafaff1;
} 
.filter_input::placeholder{
    font-size: 18px;
    padding-left: 1%;
}
.filter_input::after{
    border: none;
}
.filter_button{
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0 ;
    border: none;
    
}
.img_button__buscar{
    position: relative;
    max-width: 40px;
    margin: 3px;
}
.filter_button:hover{
    zoom: 1.02;
}
  
  